---
---

@import "{{ site.theme }}";

img.logo {
  max-width: 140px;
  width: 140px;
  height: auto;
}

header p {
  border-top: 1px solid #e5e5e5;
  margin-top: 16px;
  padding-top: 14px;
}

header p a {
  display: block;
  margin-top: 10px;
}

header p a:first-child {
  margin-top: 0;
}

footer {
  display: none;
}
